<!DOCTYPE html>
<html lang="en"
xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/layout.html}">
<head>
</head>
<body>
  <main layout:fragment="main-area" id="main-Area">
    <section class="main-Area--section_video height100vh">
      <div class="section_video--box">
        <video playsinline muted loop autoplay src="/images/video.mp4"></video>
        <div class="video--box_txt">
          <p>Enter the metaverse</p>
          <p>universe beyond virtual </p>
          <p>reality, LOCUS-X</p>
        </div>
      </div><!-- .section_video--box -->
    </section><!-- main-Area--sectionVideo -->
    <section class="main-Area--section_content01 height100vh">
      <article class="section_content01--bgImg">
        <div class="content01--bgImg_txt">
          <p>Virtual humans beyond</p>
          <p>time and space, LOCUS-X</p>
          <p>시공간을 초월한 버추얼 휴먼, LOCUS-X</p>
        </div><!-- content01--bgImg_txt -->
      </article><!-- section_content01--bgImg -->
    </section><!-- main-Area--section_content01 -->
    <section class="height100vh"></section>
    <section class="height100vh"></section>
    <section class="height100vh"></section>
    <section class="height100vh"></section>
    <section class="height100vh"></section>
  </main><!-- #main-Area -->
</body>
</html>