<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
</head>
<body>
  <th:block th:fragment="header">
    <header id="header-Area">
      <section class="header-Area--section">
        <article class="header-Area--section_left">
          <div class="section_left--logo">
            <img src="/images/logo.svg" alt="logo">
          </div><!-- .section_left--logo -->
        </article><!-- .header-Area--section_left -->
        <article class="header-Area--section_right">
          <div class="section_right--nav">
            <p class="menuTxt">menu</p>
            <a class="menuBar" href="#"></a>
          </div><!-- .section_right--nav -->
        </article><!-- .header-Area--right -->
      </section><!-- .header-Area--section -->
    </header><!-- #header-Area -->
  </th:block>
</body>
</html>